<div class="bootstrap-wrapper">
    <div class="row">
          <div>
              <app-sliderbar></app-sliderbar> 
          </div> 
          <div class="col-md-10">
                <!--Add Field For open Dialog to create-form-->
            <!-- *ngIf="boolen" -->
            <!-- (click)="openDialog()" -->
            <div  class="mat-elevation-z8">
                <div class="container text-center mt15">
                  <!-- (click)=" openDialog()" -->
                    <button  style="float: right;" mat-raised-button color="primary" [routerLink]="'/createform/'+formId">
                        Add Field
                    </button>
                </div>
    
                   <br>
    
                    <h3>Details Fields</h3>
                    <!--Open Table For create Form with pagination-->
                    
                    <!-- <table class="table">
                        <thead>
                          <tr>
                            <th *ngFor="let f of formdata"  scope="col">{{f.label}}</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>
                        </tbody>
                      </table> -->
                      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

                        <ng-container   *ngFor="let f of columns" matColumnDef="{{f.label}}">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{f.label }}</th>
                          <td mat-cell *matCellDef="let row"></td>
                        </ng-container>
                            <!-- <ng-container matColumnDef="Actions">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let element">
                             
                                <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
                                <mat-menu #menu="matMenu">
                                  <button mat-menu-item  (click)="Updatecandidate(element.id)">Update</button>
                                  <button mat-menu-item  (click)="Deletecandidate(element.id)">Delete</button>
                                </mat-menu>
                              </td>
                            </ng-container>  -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
                      </table>
    
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
          </div>
    </div>
</div>
